{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="container" align="center"> <br>
    <h2>Hi... {{ user.username }}!</h2>
    <a href="/adddata" > <button type="button" class="btn btn-outline-primary"> Addata </button> </a>
    <a href="{% url 'logout' %}"> <button type="button" class="btn btn-outline-primary" >logout</button> </a>
  </div>
{% else %}
  <div class="container" align="center"> <br>
    <h2 > You are not logged in </h2>
    <a href="{% url 'login' %}"> <button formaction="" type="button" class="btn btn-outline-primary">login </button> </a>
    <a href="{% url 'signup' %}"> <button type="button" class="btn btn-outline-primary">signup </button> </a>
  </div>
{% endif %}
{% endblock %}