{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<br>
  <div class="container" align="center">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-outline-primary" >Login</button>
    </form>
  </div>
{% endblock %}