<!DOCTYPE html>

<html>

    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <link rel="stylesheet" href="/static/myapp/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta charset="utf-8">
    </head>
    
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">หนังดีบอกต่อ Puangpaka.com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </nav>
      <div class="container" align="center"> <br>
        <h1>Adddata</h1>
      </div>
      <form action="/postdata" method="postdata">
        <div class="container">
          <h3> <label for="exampleFormControlInput1">Title</label> <h3>
          <input class="form-control" type="text" id="title" name = "title" req>
        </div>
        
        <br>

        <div class="container">
          <h3> <label for="exampleTextarea">Description</label> </h3>
          <textarea class="form-control" rows="10" name="descrip" req></textarea>
        </div>
        
        <br>

        <div class="container">
          <h3> <label for="exampleInputFile"> Picture </label> </h3>
          <input type="file" class="form-control-file" id="files" name = "files[]">
        </div>
        <br>
        <div class="container" align="center">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
        <a href="{% url 'logout' %}"> <button type="button" class="btn btn-outline-primary" >logout</button> </a>
        </div>
      </form>

    </body>
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script>
    var config = {
    apiKey : "AIzaSyBwg4BeVjNdZob1mnXUtXSbljQzN47vjf0",
    authDomain : "cpanel-b511a.firebaseapp.com",
    databaseURL : "https://cpanel-b511a.firebaseio.com",
    projectId : "cpanel-b511a",
    storageBucket : "cpanel-b511a.appspot.com",
    messagingSenderId : "554934818907"
  };
  firebase = pyrebase.initialize_app(config)

  function uploadimage(){
  var storage = firebase.storage();
  var file = document.getElementById("files").files[0];
  var storageRef = storage.ref();
  var thisref = storageRef.child(file.name).put(file);
  
  thisref.on('state_changed',function(snapshot){
    console.log("file uplaoded succesfully")
  },
  }, function(error) {
  // Handle unsuccessful uploads
  }, function() {
  // Handle successful uploads on complete
  // For instance, get the download URL: https://firebasestorage.googleapis.com/...
  uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
    console.log('File available at', downloadURL);
  });
});
  }
  
  </script>
</html>