<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="/static/myapp/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% comment %} <style>
      body {
        background-color: aqua;
      }
    </style> {% endcomment %}
    </head>
        
    <body>
        <!-- ด้านบน -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <h1><a class="navbar-brand" href="/">หนังดีบอกต่อ</a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a></a>
                    </li>
                    <li class="nav-item">
                      <a ></a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0"></form>
                    <a href="/login" > <button type="button" class="btn btn-primary">เพิ่มข้อมูล</button> </a>
        </nav>

                  <div class="container">
                        <br>
                        {% for title,descrip,listitem in comb_lis %}
                        <button onclick="button{{listitem}}" type="button" class="btn btn-primary" data-toggle="modal" data-target=#exampleModalCenter> {{title}} </button>
                          <br> Descrip: {{descrip}}
                        <br><br><br>
                        {%endfor%}
                        <div class="container">
                          {% for title,descrip,listitem in comb_lis %}
                            {% include 'page/modal.html' %}
                          {% endfor %}
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" style="display: none;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Launch demo modal
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id=exampleModalCenter tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{title}}</h5>
                            </div>
                            <div class="modal-body">
                                <h1>{{descrip}}</h1>
                            </div>
                        </div>
                        </div>
                        </div>

                  <!-- ด้านล่าง -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarColor02" >
                    <ul class="nav mx-md-auto d-flex justify-content-center" >
                      <li class="nav-item">
                        <a href="https://www.facebook.com/profile.php?id=100001164884456"> <i class="fa fa-facebook-square center" style="font-size:26px"> </i> </a>
                      </li>
                      &nbsp;&nbsp;
                      <li class="nav-item " >
                        <a href="https://gitlab.com/dashboard/projects"> <i class="fa fa-gitlab center"  style="font-size:26px" href="www.google.com"></i> </a>
                      </li>
                      <li class="nav-item">
                      </li>
                    </ul>
                  </div>
                </nav>
                      
        </body>

</html>