<!-- Button trigger modal -->
<button id="button{{listitem}}" type="button" style="display: none;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id=exampleModalCenter tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{title}}</h5>
    </div>
    <div class="modal-body">
        <h1>{{descrip}}</h1>
    </div>
</div>`
</div>
</div>
